
#### Global Burden of Disease (GBD)

The GBD study is the largest and most comprehensive effort to quantify health loss across places and over time, so health systems can be improved and disparities eliminated.

* 607 billion+ Highly standardized and comprehensive estimates of health outcome and health system measures.
* 459 Health outcomes and risk factors, providing a powerful basis for insights on global health trends and challenges.
* 204 Countries and territories, plus dozens of sub-national locations show trends at regional, national, and local levels.
* 11,000+ Individuals from over 160 countries and territories collaborate in vetting GBD data sources and estimates.

https://vizhub.healthdata.org/gbd-results/

Filtered Data that was imported in this notebook:

* __GBD Estimate__: Cause of death or injury 
* __Measure__: Prevelance
* __Metric__: Number, percent and rate
* __Cause__: Depressive disorders & anxiety disorders
* __Location__: World Bank Income Groups
* __Age__: < 20, 20-24, +25
* __Sex__: Male, Female, Both
* __Year__: 1990-2019

In [16]:
# Import required modules
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sql_functions
import numpy as np 
import pandas as pd 
import plotly
import plotly.express as px
from sql_functions import *
from some_functions import *

In [17]:
df =  pd.read_csv('data/income_levels.csv')

In [18]:
# rename columns

df = df.rename(columns={'location':'income_level'})
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [19]:
df.head()

,measure,income_level,sex,age,cause,metric,year,val,upper,lower
0,Prevalence,World Bank Low Income,Male,20-24 years,Depressive disorders,Number,1990,5.588425e+05,7.335861e+05,4.136873e+05
1,Prevalence,World Bank Low Income,Female,20-24 years,Depressive disorders,Number,1990,9.068645e+05,1.172066e+06,6.716732e+05
2,Prevalence,World Bank Low Income,Both,20-24 years,Depressive disorders,Number,1990,1.465707e+06,1.900760e+06,1.094864e+06
3,Prevalence,World Bank Low Income,Male,20-24 years,Depressive disorders,Percent,1990,4.223844e-02,5.541397e-02,3.135307e-02
4,Prevalence,World Bank Low Income,Female,20-24 years,Depressive disorders,Percent,1990,6.136579e-02,7.937784e-02,4.546596e-02

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12960 entries, 0 to 12959
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   measure       12960 non-null  object
 1   income_level  12960 non-null  object
 2   sex           12960 non-null  object
 3   age           12960 non-null  object
 4   cause         12960 non-null  object
 5   metric        12960 non-null  object
 6   year          12960 non-null  int64
 7   val           12960 non-null  float64
 8   upper         12960 non-null  float64
 9   lower         12960 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 1012.6+ KB

In [21]:
df.columns

Index(['measure', 'income_level', 'sex', 'age', 'cause', 'metric', 'year',
       'val', 'upper', 'lower'],
      dtype='object')

In [22]:
df1 = df.sort_values(by=['income_level', 'year', 'age'])

In [24]:
schema = 'cgn_analytics_24_1' 
engine = get_engine() 

def export_table(df, name):
    # creating table_name with jlt_airport and the airport_code
    global engine
    table_name = f'mindscape_{name}'
    if engine!=None:
        try:
            df.to_sql(name=table_name, # Name of SQL table
                    con=engine, # Engine or connection
                    if_exists='replace', # Drop the table before inserting new values 
                schema=schema, # Use schmea that was defined earlier
                    index=False, # Write DataFrame index as a column
                    chunksize=5000, # Specify the number of rows in each batch to be written at a time
                    method='multi') # Pass multiple values in a single INSERT clause
            print(f"The {table_name} table was imported successfully.")
    # Error handling
        except (Exception, psycopg2.DatabaseError) as error:
            print(error)
            engine = None

In [25]:
export_table(df, 'income_level')

The mindscape_income_level table was imported successfully.