In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import psycopg2

In [2]:
df = pd.read_csv("data/mental-illnesses-prevalence.csv",  encoding="utf-8")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 8 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   Entity                                                                             6420 non-null   object
 1   Code                                                                               6150 non-null   object
 2   Year                                                                               6420 non-null   int64
 3   Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized  6420 non-null   float64
 4   Depressive disorders (share of population) - Sex: Both - Age: Age-standardized     6420 non-null   float64
 5   Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized        6420 non-null   float64
 6   Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized        6420 non-null   float64
 7   Eating disorders (share of population) - Sex: Both - Age: Age-standardized         6420 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 401.4+ KB

In [4]:
try:
    # Read a specific sheet by name
    working_hours = pd.read_excel("/Users/jamie/neuefische/MindScape/data/pwt1001.xlsx", sheet_name="Data")
    
    # Or read a specific sheet by index (e.g., the first sheet)
    # df = pd.read_excel("/path/to/your/file.xlsx", sheet_name=0)
    
    print(working_hours.head())
except Exception as e:
    print(f"An error occurred: {e}")

  countrycode country   currency_unit  year  rgdpe  rgdpo  pop  emp  avh  hc  \
0         ABW   Aruba  Aruban Guilder  1950    NaN    NaN  NaN  NaN  NaN NaN
1         ABW   Aruba  Aruban Guilder  1951    NaN    NaN  NaN  NaN  NaN NaN
2         ABW   Aruba  Aruban Guilder  1952    NaN    NaN  NaN  NaN  NaN NaN
3         ABW   Aruba  Aruban Guilder  1953    NaN    NaN  NaN  NaN  NaN NaN
4         ABW   Aruba  Aruban Guilder  1954    NaN    NaN  NaN  NaN  NaN NaN

   ...  csh_x  csh_m  csh_r  pl_c  pl_i  pl_g  pl_x  pl_m  pl_n  pl_k
0  ...    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  ...    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  ...    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  ...    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  ...    NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 52 columns]

In [5]:
working_hours.columns

Index(['countrycode', 'country', 'currency_unit', 'year', 'rgdpe', 'rgdpo',
       'pop', 'emp', 'avh', 'hc', 'ccon', 'cda', 'cgdpe', 'cgdpo', 'cn', 'ck',
       'ctfp', 'cwtfp', 'rgdpna', 'rconna', 'rdana', 'rnna', 'rkna', 'rtfpna',
       'rwtfpna', 'labsh', 'irr', 'delta', 'xr', 'pl_con', 'pl_da', 'pl_gdpo',
       'i_cig', 'i_xm', 'i_xr', 'i_outlier', 'i_irr', 'cor_exp', 'statcap',
       'csh_c', 'csh_i', 'csh_g', 'csh_x', 'csh_m', 'csh_r', 'pl_c', 'pl_i',
       'pl_g', 'pl_x', 'pl_m', 'pl_n', 'pl_k'],
      dtype='object')

In [6]:
working_hours_cleaned = working_hours.dropna(subset=['avh'])

In [7]:
working_hours_cleaned

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
350,ARG,Argentina,Argentine Peso,1950,50303.953125,50108.761719,17.091824,6.608833,2034.000000,1.816503,...,0.122540,-0.060423,-0.012842,0.193067,0.422730,0.273050,0.117665,0.107814,0.304496,NaN
351,ARG,Argentina,Argentine Peso,1951,52677.964844,51339.167969,17.457578,6.713252,2037.866753,1.830769,...,0.100497,-0.074776,-0.016469,0.213862,0.366893,0.277869,0.142259,0.118755,0.275817,NaN
352,ARG,Argentina,Argentine Peso,1952,47677.207031,46855.101562,17.815967,6.819321,2041.740856,1.845147,...,0.077847,-0.058380,-0.033148,0.229605,0.366508,0.296447,0.126297,0.130694,0.279382,NaN
353,ARG,Argentina,Argentine Peso,1953,49529.671875,49917.148438,18.168618,6.927065,2045.622325,1.859638,...,0.106709,-0.041785,-0.022161,0.230860,0.370191,0.315614,0.110863,0.102362,0.278423,NaN
354,ARG,Argentina,Argentine Peso,1954,51835.375000,52254.769531,18.517168,7.036511,2049.511172,1.874243,...,0.108594,-0.051525,-0.029199,0.229684,0.381629,0.327768,0.094007,0.093510,0.285159,8.819025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12664,ZAF,South Africa,Rand,2014,705391.000000,710668.312500,54.544186,16.992683,2209.091467,2.675951,...,0.185648,-0.218741,0.013825,0.491612,0.500575,0.515295,0.697915,0.652995,0.329836,0.624894
12666,ZAF,South Africa,Rand,2016,722946.187500,713601.625000,56.207646,17.984968,2218.455068,2.762902,...,0.170088,-0.179245,0.005021,0.404804,0.445430,0.406019,0.628334,0.590239,0.275335,0.487648
12667,ZAF,South Africa,Rand,2017,738072.875000,726021.000000,57.009756,18.302843,2197.033263,2.809246,...,0.190417,-0.192079,-0.003146,0.465375,0.522530,0.454620,0.638229,0.595804,0.319646,0.566110
12668,ZAF,South Africa,Rand,2018,743338.562500,732308.187500,57.792518,18.686357,2191.363362,2.857641,...,0.193246,-0.203486,0.005634,0.488052,0.546290,0.478244,0.661046,0.620808,0.332931,0.563239
12669,ZAF,South Africa,Rand,2019,748940.000000,734094.375000,58.558270,18.642710,2191.363362,2.908202,...,0.184207,-0.198112,0.004915,0.463660,0.523813,0.447869,0.660216,0.604546,0.315006,0.525546

In [8]:
print(len(working_hours_cleaned['country'].unique()))

69

In [9]:
working_hours = working_hours_cleaned[['country', 'year', 'avh']]

In [10]:
working_hours.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3492 entries, 350 to 12669
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  3492 non-null   object
 1   year     3492 non-null   int64
 2   avh      3492 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 109.1+ KB

In [11]:
working_hours.head()

       country  year          avh
350  Argentina  1950  2034.000000
351  Argentina  1951  2037.866753
352  Argentina  1952  2041.740856
353  Argentina  1953  2045.622325
354  Argentina  1954  2049.511172

In [12]:
df.rename(columns={'Entity': 'country', 'Year': 'year', 'Code': 'code', 'Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized': 'pct_schizophrenia', 'Depressive disorders (share of population) - Sex: Both - Age: Age-standardized': 'pct_depression', 'Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized': 'pct_anxiety', 'Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized': 'pct_bipolar', 'Eating disorders (share of population) - Sex: Both - Age: Age-standardized':'pct_eating_disorder' }, inplace=True)

In [13]:
df_combined = pd.merge(df, working_hours, on=['country', 'year'], how='left')

In [59]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              6420 non-null   object
 1   code                 6150 non-null   object
 2   year                 6420 non-null   int64
 3   pct_schizophrenia    6420 non-null   float64
 4   pct_depression       6420 non-null   float64
 5   pct_anxiety          6420 non-null   float64
 6   pct_bipolar          6420 non-null   float64
 7   pct_eating_disorder  6420 non-null   float64
 8   avh                  1785 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 451.5+ KB

In [15]:
population = pd.read_csv('/Users/jamie/neuefische/MindScape/data/API_SP.POP.TOTL_DS2_en_csv_v2_85.csv', delimiter=',', encoding='utf-8', on_bad_lines='skip', header=2)

In [16]:
population.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,NaN

In [17]:
pop_long = pd.melt(population, 
                  id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], 
                  var_name='year', 
                  value_name='value')

In [49]:
pop_sorted = pop_long.sort_values(by='Country Name', ascending=False)

In [50]:
pop_sorted.dropna(subset=['value'], inplace = True)

In [51]:
pop_sorted.rename(columns= {'Country Name': 'country', 'Country Code': 'code'}, inplace = True)

In [52]:
pop_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16665 entries, 531 to 2130
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         16665 non-null  object
 1   code            16665 non-null  object
 2   Indicator Name  16665 non-null  object
 3   Indicator Code  16665 non-null  object
 4   year            16665 non-null  object
 5   value           16665 non-null  float64
dtypes: float64(1), object(5)
memory usage: 911.4+ KB

In [55]:
df_master = pd.merge(df_combined, pop_sorted, on=['code', 'year'], how='left')

In [67]:
print(df_combined['year'].dtype)
print(pop_sorted['year'].dtype)

int64
int64

In [54]:
pop_sorted['year'] = pop_sorted['year'].astype(int)

In [56]:
df_master.rename(columns={'country_x': 'country', 'value': 'population'}, inplace = True)

In [57]:
df_master.drop(columns=['Indicator Name', 'country_y', 'Indicator Code'], inplace=True)

In [58]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              6420 non-null   object
 1   code                 6150 non-null   object
 2   year                 6420 non-null   int64
 3   pct_schizophrenia    6420 non-null   float64
 4   pct_depression       6420 non-null   float64
 5   pct_anxiety          6420 non-null   float64
 6   pct_bipolar          6420 non-null   float64
 7   pct_eating_disorder  6420 non-null   float64
 8   avh                  1785 non-null   float64
 9   population           6000 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 501.7+ KB

In [68]:
# Set display option to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [64]:
regions = df_master[df_master['code'].isnull()]
regions

,country,code,year,pct_schizophrenia,pct_depression,pct_anxiety,pct_bipolar,pct_eating_disorder,avh,population
30,Africa (IHME GBD),NaN,1990,0.219527,4.602806,3.696839,0.607027,0.111027,NaN,NaN
31,Africa (IHME GBD),NaN,1991,0.219559,4.598041,3.695416,0.607090,0.110425,NaN,NaN
32,Africa (IHME GBD),NaN,1992,0.219579,4.593013,3.693819,0.607127,0.109845,NaN,NaN
33,Africa (IHME GBD),NaN,1993,0.219583,4.588568,3.692097,0.607134,0.109305,NaN,NaN
34,Africa (IHME GBD),NaN,1994,0.219556,4.586263,3.690115,0.607082,0.108813,NaN,NaN
35,Africa (IHME GBD),NaN,1995,0.219513,4.585838,3.687944,0.606987,0.108413,NaN,NaN
36,Africa (IHME GBD),NaN,1996,0.219426,4.593121,3.680501,0.606898,0.108053,NaN,NaN
37,Africa (IHME GBD),NaN,1997,0.219292,4.609175,3.665615,0.606820,0.107740,NaN,NaN
38,Africa (IHME GBD),NaN,1998,0.219151,4.627353,3.648328,0.606740,0.107471,NaN,NaN
39,Africa (IHME GBD),NaN,1999,0.219040,4.642278,3.633697,0.606659,0.107308,NaN,NaN
40,Africa (IHME GBD),NaN,2000,0.218995,4.646626,3.626573,0.606569,0.107279,NaN,NaN
41,Africa (IHME GBD),NaN,2001,0.219079,4.643528,3.623664,0.606462,0.107535,NaN,NaN
42,Africa (IHME GBD),NaN,2002,0.219283,4.638134,3.618956,0.606336,0.108013,NaN,NaN
43,Africa (IHME GBD),NaN,2003,0.219534,4.632154,3.613809,0.606209,0.108720,NaN,NaN
44,Africa (IHME GBD),NaN,2004,0.219760,4.625940,3.609460,0.606081,0.109497,NaN,NaN
45,Africa (IHME GBD),NaN,2005,0.219883,4.619911,3.606874,0.605938,0.110219,NaN,NaN
46,Africa (IHME GBD),NaN,2006,0.219905,4.607317,3.614300,0.605780,0.110956,NaN,NaN
47,Africa (IHME GBD),NaN,2007,0.219895,4.584052,3.633903,0.605599,0.111981,NaN,NaN
48,Africa (IHME GBD),NaN,2008,0.219871,4.555480,3.657886,0.605385,0.112989,NaN,NaN
49,Africa (IHME GBD),NaN,2009,0.219853,4.527493,3.678383,0.605123,0.113935,NaN,NaN
50,Africa (IHME GBD),NaN,2010,0.219864,4.505467,3.687717,0.604825,0.114916,NaN,NaN
51,Africa (IHME GBD),NaN,2011,0.219953,4.488090,3.689709,0.604527,0.115847,NaN,NaN
52,Africa (IHME GBD),NaN,2012,0.220118,4.471372,3.692434,0.604215,0.116978,NaN,NaN
53,Africa (IHME GBD),NaN,2013,0.220310,4.456697,3.695297,0.603879,0.118143,NaN,NaN
54,Africa (IHME GBD),NaN,2014,0.220481,4.446682,3.697980,0.603526,0.119203,NaN,NaN
55,Africa (IHME GBD),NaN,2015,0.220576,4.443779,3.699914,0.603163,0.120191,NaN,NaN
56,Africa (IHME GBD),NaN,2016,0.220700,4.448507,3.703184,0.602799,0.121307,NaN,NaN
57,Africa (IHME GBD),NaN,2017,0.220823,4.453067,3.705067,0.602414,0.122223,NaN,NaN
58,Africa (IHME GBD),NaN,2018,0.220960,4.456799,3.703345,0.602007,0.122490,NaN,NaN
59,Africa (IHME GBD),NaN,2019,0.221209,4.462034,3.699605,0.601595,0.122566,NaN,NaN
120,America (IHME GBD),NaN,1990,0.343703,3.491719,4.976320,0.816775,0.288072,NaN,NaN
121,America (IHME GBD),NaN,1991,0.344607,3.530485,4.984095,0.817926,0.292492,NaN,NaN
122,America (IHME GBD),NaN,1992,0.345317,3.568579,4.994692,0.819106,0.296330,NaN,NaN
123,America (IHME GBD),NaN,1993,0.345752,3.604644,5.006212,0.820357,0.299075,NaN,NaN
124,America (IHME GBD),NaN,1994,0.345895,3.638216,5.017346,0.821608,0.300865,NaN,NaN
125,America (IHME GBD),NaN,1995,0.345687,3.667348,5.026377,0.822822,0.301121,NaN,NaN
126,America (IHME GBD),NaN,1996,0.345224,3.699061,5.109747,0.823988,0.300473,NaN,NaN
127,America (IHME GBD),NaN,1997,0.344680,3.735542,5.299989,0.825057,0.299709,NaN,NaN
128,America (IHME GBD),NaN,1998,0.344101,3.771975,5.530793,0.826091,0.298768,NaN,NaN
129,America (IHME GBD),NaN,1999,0.343570,3.802259,5.737276,0.827068,0.298059,NaN,NaN
130,America (IHME GBD),NaN,2000,0.343139,3.818848,5.854854,0.827988,0.297530,NaN,NaN
131,America (IHME GBD),NaN,2001,0.343150,3.824806,5.895511,0.829398,0.297521,NaN,NaN
132,America (IHME GBD),NaN,2002,0.343679,3.826711,5.915851,0.831482,0.297939,NaN,NaN
133,America (IHME GBD),NaN,2003,0.344375,3.825892,5.919647,0.833760,0.298499,NaN,NaN
134,America (IHME GBD),NaN,2004,0.344917,3.824198,5.910077,0.835727,0.299151,NaN,NaN
135,America (IHME GBD),NaN,2005,0.344974,3.822175,5.889337,0.836931,0.299616,NaN,NaN
136,America (IHME GBD),NaN,2006,0.344725,3.807667,5.861147,0.837552,0.300367,NaN,NaN
137,America (IHME GBD),NaN,2007,0.344494,3.774463,5.828773,0.838143,0.301486,NaN,NaN
138,America (IHME GBD),NaN,2008,0.344223,3.733645,5.794791,0.838720,0.302964,NaN,NaN
139,America (IHME GBD),NaN,2009,0.343858,3.697007,5.761675,0.839270,0.304312,NaN,NaN
140,America (IHME GBD),NaN,2010,0.343323,3.675616,5.731754,0.839862,0.305284,NaN,NaN
141,America (IHME GBD),NaN,2011,0.342383,3.664557,5.665880,0.840436,0.304766,NaN,NaN
142,America (IHME GBD),NaN,2012,0.340958,3.651133,5.548160,0.841030,0.302659,NaN,NaN
143,America (IHME GBD),NaN,2013,0.339284,3.637235,5.416468,0.841644,0.299979,NaN,NaN
144,America (IHME GBD),NaN,2014,0.337604,3.624534,5.308600,0.842225,0.297823,NaN,NaN
145,America (IHME GBD),NaN,2015,0.336118,3.614284,5.262504,0.842839,0.297221,NaN,NaN
146,America (IHME GBD),NaN,2016,0.333956,3.607575,5.281045,0.843381,0.299016,NaN,NaN
147,America (IHME GBD),NaN,2017,0.332195,3.604466,5.305283,0.843920,0.300845,NaN,NaN
148,America (IHME GBD),NaN,2018,0.331717,3.604681,5.367122,0.844488,0.301151,NaN,NaN
149,America (IHME GBD),NaN,2019,0.331556,3.607400,5.492144,0.845058,0.300954,NaN,NaN
330,Asia (IHME GBD),NaN,1990,0.290411,3.267557,3.354643,0.323440,0.098661,NaN,NaN
331,Asia (IHME GBD),NaN,1991,0.290512,3.321691,3.347837,0.323575,0.099090,NaN,NaN
332,Asia (IHME GBD),NaN,1992,0.290572,3.366438,3.340623,0.323787,0.099539,NaN,NaN
333,Asia (IHME GBD),NaN,1993,0.290600,3.400152,3.333785,0.323997,0.099980,NaN,NaN
334,Asia (IHME GBD),NaN,1994,0.290594,3.420960,3.327422,0.324161,0.100392,NaN,NaN
335,Asia (IHME GBD),NaN,1995,0.290538,3.427239,3.321886,0.324383,0.100855,NaN,NaN
336,Asia (IHME GBD),NaN,1996,0.290408,3.417621,3.317265,0.324578,0.101418,NaN,NaN
337,Asia (IHME GBD),NaN,1997,0.290236,3.395707,3.313059,0.324771,0.101978,NaN,NaN
338,Asia (IHME GBD),NaN,1998,0.290062,3.369579,3.309092,0.324920,0.102589,NaN,NaN
339,Asia (IHME GBD),NaN,1999,0.289913,3.346834,3.304892,0.325030,0.103264,NaN,NaN
340,Asia (IHME GBD),NaN,2000,0.289813,3.335676,3.299865,0.325216,0.103968,NaN,NaN
341,Asia (IHME GBD),NaN,2001,0.289763,3.339311,3.284822,0.325532,0.104891,NaN,NaN
342,Asia (IHME GBD),NaN,2002,0.289752,3.351027,3.256808,0.326085,0.106063,NaN,NaN
343,Asia (IHME GBD),NaN,2003,0.289768,3.365798,3.224858,0.326708,0.107393,NaN,NaN
344,Asia (IHME GBD),NaN,2004,0.289795,3.377959,3.197881,0.327325,0.108796,NaN,NaN
345,Asia (IHME GBD),NaN,2005,0.289816,3.382033,3.184949,0.327878,0.110266,NaN,NaN
346,Asia (IHME GBD),NaN,2006,0.289899,3.356683,3.190944,0.328295,0.111784,NaN,NaN
347,Asia (IHME GBD),NaN,2007,0.290069,3.298219,3.209695,0.328744,0.113679,NaN,NaN
348,Asia (IHME GBD),NaN,2008,0.290260,3.229052,3.233638,0.329269,0.115697,NaN,NaN
349,Asia (IHME GBD),NaN,2009,0.290416,3.171680,3.254669,0.329835,0.117760,NaN,NaN
350,Asia (IHME GBD),NaN,2010,0.290494,3.147917,3.264366,0.330442,0.119717,NaN,NaN
351,Asia (IHME GBD),NaN,2011,0.290621,3.151999,3.261816,0.331079,0.121679,NaN,NaN
352,Asia (IHME GBD),NaN,2012,0.290895,3.160865,3.254212,0.331688,0.123725,NaN,NaN
353,Asia (IHME GBD),NaN,2013,0.291235,3.171920,3.245807,0.332259,0.125801,NaN,NaN
354,Asia (IHME GBD),NaN,2014,0.291551,3.182991,3.240573,0.332836,0.128039,NaN,NaN
355,Asia (IHME GBD),NaN,2015,0.291745,3.191470,3.242455,0.333492,0.130299,NaN,NaN
356,Asia (IHME GBD),NaN,2016,0.293124,3.195619,3.264667,0.334202,0.133349,NaN,NaN
357,Asia (IHME GBD),NaN,2017,0.294379,3.199031,3.287259,0.334930,0.135941,NaN,NaN
358,Asia (IHME GBD),NaN,2018,0.293982,3.200142,3.282474,0.335687,0.137516,NaN,NaN
359,Asia (IHME GBD),NaN,2019,0.293031,3.196159,3.258719,0.336510,0.138726,NaN,NaN
1950,Europe (IHME GBD),NaN,1990,0.276859,3.670670,4.400792,0.724386,0.271002,NaN,NaN
1951,Europe (IHME GBD),NaN,1991,0.276592,3.660343,4.395434,0.724267,0.271013,NaN,NaN
1952,Europe (IHME GBD),NaN,1992,0.276314,3.650863,4.389711,0.724110,0.270982,NaN,NaN
1953,Europe (IHME GBD),NaN,1993,0.276071,3.642370,4.383555,0.723952,0.270857,NaN,NaN
1954,Europe (IHME GBD),NaN,1994,0.275867,3.635738,4.377351,0.723963,0.270601,NaN,NaN
1955,Europe (IHME GBD),NaN,1995,0.275704,3.631276,4.371487,0.724170,0.270281,NaN,NaN
1956,Europe (IHME GBD),NaN,1996,0.275534,3.630100,4.365066,0.724330,0.270151,NaN,NaN
1957,Europe (IHME GBD),NaN,1997,0.275330,3.632827,4.358834,0.724308,0.270195,NaN,NaN
1958,Europe (IHME GBD),NaN,1998,0.275140,3.636267,4.354135,0.724260,0.270491,NaN,NaN
1959,Europe (IHME GBD),NaN,1999,0.275002,3.638571,4.351651,0.724365,0.271307,NaN,NaN
1960,Europe (IHME GBD),NaN,2000,0.274951,3.637014,4.352332,0.724685,0.272415,NaN,NaN
1961,Europe (IHME GBD),NaN,2001,0.274966,3.628757,4.356478,0.725368,0.274256,NaN,NaN
1962,Europe (IHME GBD),NaN,2002,0.275009,3.614992,4.363762,0.726385,0.276821,NaN,NaN
1963,Europe (IHME GBD),NaN,2003,0.275078,3.598339,4.373546,0.727674,0.279775,NaN,NaN
1964,Europe (IHME GBD),NaN,2004,0.275169,3.582067,4.385108,0.729042,0.282864,NaN,NaN
1965,Europe (IHME GBD),NaN,2005,0.275274,3.569190,4.397513,0.730222,0.285566,NaN,NaN
1966,Europe (IHME GBD),NaN,2006,0.275429,3.561025,4.418056,0.731191,0.288498,NaN,NaN
1967,Europe (IHME GBD),NaN,2007,0.275648,3.555957,4.449878,0.732137,0.291983,NaN,NaN
1968,Europe (IHME GBD),NaN,2008,0.275889,3.554270,4.485411,0.733191,0.295770,NaN,NaN
1969,Europe (IHME GBD),NaN,2009,0.276117,3.553865,4.517135,0.734295,0.299300,NaN,NaN
1970,Europe (IHME GBD),NaN,2010,0.276293,3.553396,4.537170,0.735423,0.302248,NaN,NaN
1971,Europe (IHME GBD),NaN,2011,0.276549,3.552614,4.550123,0.736539,0.304886,NaN,NaN
1972,Europe (IHME GBD),NaN,2012,0.276959,3.550856,4.564322,0.737544,0.307207,NaN,NaN
1973,Europe (IHME GBD),NaN,2013,0.277407,3.548266,4.577890,0.738504,0.309521,NaN,NaN
1974,Europe (IHME GBD),NaN,2014,0.277783,3.546718,4.589235,0.739469,0.311716,NaN,NaN
1975,Europe (IHME GBD),NaN,2015,0.277975,3.546587,4.596085,0.740408,0.314031,NaN,NaN
1976,Europe (IHME GBD),NaN,2016,0.278079,3.542790,4.591335,0.741251,0.317571,NaN,NaN
1977,Europe (IHME GBD),NaN,2017,0.278101,3.537174,4.584498,0.741899,0.320585,NaN,NaN
1978,Europe (IHME GBD),NaN,2018,0.277349,3.538158,4.577611,0.742381,0.322503,NaN,NaN
1979,Europe (IHME GBD),NaN,2019,0.275731,3.544327,4.564641,0.742839,0.324064,NaN,NaN
1980,European Union (27),NaN,1990,0.277281,3.725058,5.005057,0.814304,0.346334,NaN,NaN
1981,European Union (27),NaN,1991,0.277108,3.698602,5.001168,0.813973,0.347756,NaN,NaN
1982,European Union (27),NaN,1992,0.276961,3.674991,4.996999,0.813677,0.349018,NaN,NaN
1983,European Union (27),NaN,1993,0.276855,3.655141,4.992112,0.813490,0.350429,NaN,NaN
1984,European Union (27),NaN,1994,0.276785,3.640104,4.985759,0.813417,0.351620,NaN,NaN
1985,European Union (27),NaN,1995,0.276748,3.630819,4.977978,0.813420,0.352553,NaN,NaN
1986,European Union (27),NaN,1996,0.276753,3.629188,4.967964,0.813472,0.353749,NaN,NaN
1987,European Union (27),NaN,1997,0.276804,3.634868,4.956476,0.813559,0.355035,NaN,NaN
1988,European Union (27),NaN,1998,0.276885,3.642911,4.945492,0.813733,0.356574,NaN,NaN
1989,European Union (27),NaN,1999,0.276971,3.649143,4.936709,0.813962,0.358426,NaN,NaN
1990,European Union (27),NaN,2000,0.277041,3.649513,4.932451,0.814228,0.360403,NaN,NaN
1991,European Union (27),NaN,2001,0.277079,3.640877,4.933086,0.814991,0.363212,NaN,NaN
1992,European Union (27),NaN,2002,0.277099,3.624774,4.937529,0.816397,0.367078,NaN,NaN
1993,European Union (27),NaN,2003,0.277116,3.605452,4.945085,0.818115,0.371302,NaN,NaN
1994,European Union (27),NaN,2004,0.277152,3.587303,4.954928,0.819732,0.375417,NaN,NaN
1995,European Union (27),NaN,2005,0.277218,3.574758,4.966550,0.820820,0.378831,NaN,NaN
1996,European Union (27),NaN,2006,0.277325,3.572151,4.990734,0.821558,0.381931,NaN,NaN
1997,European Union (27),NaN,2007,0.277459,3.578006,5.031834,0.822347,0.385137,NaN,NaN
1998,European Union (27),NaN,2008,0.277594,3.589880,5.078652,0.823203,0.388382,NaN,NaN
1999,European Union (27),NaN,2009,0.277720,3.601608,5.119985,0.824094,0.391205,NaN,NaN
2000,European Union (27),NaN,2010,0.277822,3.608386,5.144418,0.824967,0.393552,NaN,NaN
2001,European Union (27),NaN,2011,0.278056,3.608325,5.158957,0.825835,0.395659,NaN,NaN
2002,European Union (27),NaN,2012,0.278491,3.603143,5.176176,0.826631,0.397421,NaN,NaN
2003,European Union (27),NaN,2013,0.278992,3.595040,5.192997,0.827325,0.399045,NaN,NaN
2004,European Union (27),NaN,2014,0.279426,3.589080,5.206661,0.827928,0.400581,NaN,NaN
2005,European Union (27),NaN,2015,0.279651,3.587856,5.214255,0.828449,0.402461,NaN,NaN
2006,European Union (27),NaN,2016,0.279892,3.590158,5.207544,0.828909,0.405888,NaN,NaN
2007,European Union (27),NaN,2017,0.280059,3.591780,5.199155,0.829293,0.408935,NaN,NaN
2008,European Union (27),NaN,2018,0.278894,3.599254,5.186905,0.829684,0.410705,NaN,NaN
2009,European Union (27),NaN,2019,0.276268,3.614444,5.161444,0.830106,0.412420,NaN,NaN
2520,High-income countries,NaN,1990,0.325683,3.471353,4.729571,0.732095,0.363852,NaN,NaN
2521,High-income countries,NaN,1991,0.326571,3.480142,4.724091,0.731622,0.369117,NaN,NaN
2522,High-income countries,NaN,1992,0.327345,3.491730,4.719830,0.731283,0.373884,NaN,NaN
2523,High-income countries,NaN,1993,0.327982,3.505563,4.716575,0.731041,0.378027,NaN,NaN
2524,High-income countries,NaN,1994,0.328490,3.521293,4.714491,0.730872,0.381161,NaN,NaN
2525,High-income countries,NaN,1995,0.328802,3.538277,4.713554,0.730754,0.383022,NaN,NaN
2526,High-income countries,NaN,1996,0.328965,3.558902,4.745915,0.730671,0.384222,NaN,NaN
2527,High-income countries,NaN,1997,0.329094,3.583543,4.824120,0.730567,0.385379,NaN,NaN
2528,High-income countries,NaN,1998,0.329214,3.608201,4.917772,0.730500,0.386495,NaN,NaN
2529,High-income countries,NaN,1999,0.329369,3.629499,4.996634,0.730520,0.387890,NaN,NaN
2530,High-income countries,NaN,2000,0.329564,3.642263,5.029177,0.730623,0.389382,NaN,NaN
2531,High-income countries,NaN,2001,0.330043,3.645391,5.015623,0.731542,0.391782,NaN,NaN
2532,High-income countries,NaN,2002,0.330873,3.641379,4.983831,0.733437,0.395073,NaN,NaN
2533,High-income countries,NaN,2003,0.331835,3.633988,4.944128,0.735674,0.398667,NaN,NaN
2534,High-income countries,NaN,2004,0.332700,3.627292,4.906421,0.737629,0.402043,NaN,NaN
2535,High-income countries,NaN,2005,0.333212,3.624573,4.880684,0.738598,0.404717,NaN,NaN
2536,High-income countries,NaN,2006,0.333488,3.626557,4.875587,0.738584,0.406769,NaN,NaN
2537,High-income countries,NaN,2007,0.333733,3.630415,4.885886,0.738170,0.408703,NaN,NaN
2538,High-income countries,NaN,2008,0.333916,3.635491,4.901238,0.737659,0.410495,NaN,NaN
2539,High-income countries,NaN,2009,0.334040,3.640652,4.912629,0.737264,0.412063,NaN,NaN
2540,High-income countries,NaN,2010,0.334068,3.644707,4.909684,0.737193,0.413553,NaN,NaN
2541,High-income countries,NaN,2011,0.333835,3.643632,4.885758,0.737327,0.413625,NaN,NaN
2542,High-income countries,NaN,2012,0.333273,3.636529,4.849158,0.737433,0.411988,NaN,NaN
2543,High-income countries,NaN,2013,0.332530,3.626906,4.810606,0.737556,0.409806,NaN,NaN
2544,High-income countries,NaN,2014,0.331739,3.619122,4.780279,0.737660,0.408264,NaN,NaN
2545,High-income countries,NaN,2015,0.330992,3.615885,4.767557,0.737745,0.408456,NaN,NaN
2546,High-income countries,NaN,2016,0.329510,3.615242,4.759141,0.737847,0.411621,NaN,NaN
2547,High-income countries,NaN,2017,0.328325,3.616450,4.754215,0.738008,0.414699,NaN,NaN
2548,High-income countries,NaN,2018,0.327811,3.625144,4.796592,0.738217,0.415990,NaN,NaN
2549,High-income countries,NaN,2019,0.327047,3.641069,4.885893,0.738465,0.416721,NaN,NaN
3300,Low-income countries,NaN,1990,0.218260,4.712727,3.599070,0.539210,0.083105,NaN,NaN
3301,Low-income countries,NaN,1991,0.218148,4.712109,3.598160,0.539730,0.082554,NaN,NaN
3302,Low-income countries,NaN,1992,0.218047,4.711621,3.599560,0.540455,0.082049,NaN,NaN
3303,Low-income countries,NaN,1993,0.217917,4.709350,3.599902,0.540900,0.081440,NaN,NaN
3304,Low-income countries,NaN,1994,0.217725,4.709397,3.599102,0.541138,0.080784,NaN,NaN
3305,Low-income countries,NaN,1995,0.217509,4.712856,3.598695,0.541490,0.080201,NaN,NaN
3306,Low-income countries,NaN,1996,0.217194,4.721980,3.599153,0.541913,0.079569,NaN,NaN
3307,Low-income countries,NaN,1997,0.216778,4.734951,3.600660,0.542218,0.078972,NaN,NaN
3308,Low-income countries,NaN,1998,0.216345,4.747500,3.602147,0.542370,0.078326,NaN,NaN
3309,Low-income countries,NaN,1999,0.215982,4.757209,3.603374,0.542461,0.077823,NaN,NaN
3310,Low-income countries,NaN,2000,0.215785,4.760519,3.604400,0.542662,0.077593,NaN,NaN
3311,Low-income countries,NaN,2001,0.215797,4.758966,3.603234,0.543117,0.077584,NaN,NaN
3312,Low-income countries,NaN,2002,0.215953,4.756297,3.599174,0.543724,0.077648,NaN,NaN
3313,Low-income countries,NaN,2003,0.216165,4.751258,3.593476,0.544199,0.077921,NaN,NaN
3314,Low-income countries,NaN,2004,0.216348,4.745702,3.589038,0.544601,0.078199,NaN,NaN
3315,Low-income countries,NaN,2005,0.216402,4.739910,3.588228,0.545017,0.078460,NaN,NaN
3316,Low-income countries,NaN,2006,0.216288,4.730962,3.589516,0.545410,0.078789,NaN,NaN
3317,Low-income countries,NaN,2007,0.216083,4.717459,3.591356,0.545891,0.079258,NaN,NaN
3318,Low-income countries,NaN,2008,0.215845,4.701641,3.593863,0.546423,0.079825,NaN,NaN
3319,Low-income countries,NaN,2009,0.215633,4.687993,3.597150,0.546956,0.080277,NaN,NaN
3320,Low-income countries,NaN,2010,0.215501,4.679144,3.601798,0.547472,0.080985,NaN,NaN
3321,Low-income countries,NaN,2011,0.215477,4.671196,3.611017,0.548035,0.081775,NaN,NaN
3322,Low-income countries,NaN,2012,0.215539,4.659665,3.625562,0.548664,0.082830,NaN,NaN
3323,Low-income countries,NaN,2013,0.215644,4.647731,3.641983,0.549266,0.084060,NaN,NaN
3324,Low-income countries,NaN,2014,0.215745,4.638677,3.656968,0.549797,0.085159,NaN,NaN
3325,Low-income countries,NaN,2015,0.215793,4.636626,3.667326,0.550315,0.086174,NaN,NaN
3326,Low-income countries,NaN,2016,0.215910,4.639885,3.677930,0.550917,0.087403,NaN,NaN
3327,Low-income countries,NaN,2017,0.216046,4.643971,3.686349,0.551557,0.088451,NaN,NaN
3328,Low-income countries,NaN,2018,0.216165,4.651224,3.687088,0.552186,0.089230,NaN,NaN
3329,Low-income countries,NaN,2019,0.216379,4.661864,3.682839,0.552814,0.089782,NaN,NaN
3330,Lower-middle-income countries,NaN,1990,0.272493,3.817440,3.258495,0.414316,0.093162,NaN,NaN
3331,Lower-middle-income countries,NaN,1991,0.272701,3.882053,3.253185,0.414505,0.093389,NaN,NaN
3332,Lower-middle-income countries,NaN,1992,0.272859,3.937584,3.246237,0.414680,0.093672,NaN,NaN
3333,Lower-middle-income countries,NaN,1993,0.272963,3.981306,3.238094,0.414826,0.093953,NaN,NaN
3334,Lower-middle-income countries,NaN,1994,0.273007,4.009784,3.229352,0.414937,0.094212,NaN,NaN
3335,Lower-middle-income countries,NaN,1995,0.272982,4.019438,3.220603,0.415020,0.094504,NaN,NaN
3336,Lower-middle-income countries,NaN,1996,0.272869,4.014923,3.200926,0.415099,0.094778,NaN,NaN
3337,Lower-middle-income countries,NaN,1997,0.272684,4.005127,3.166554,0.415182,0.095104,NaN,NaN
3338,Lower-middle-income countries,NaN,1998,0.272477,3.993806,3.128723,0.415258,0.095480,NaN,NaN
3339,Lower-middle-income countries,NaN,1999,0.272299,3.984173,3.098639,0.415336,0.095982,NaN,NaN
3340,Lower-middle-income countries,NaN,2000,0.272191,3.979728,3.087365,0.415427,0.096554,NaN,NaN
3341,Lower-middle-income countries,NaN,2001,0.272191,3.985635,3.091308,0.415518,0.097289,NaN,NaN
3342,Lower-middle-income countries,NaN,2002,0.272270,3.999286,3.098778,0.415619,0.098193,NaN,NaN
3343,Lower-middle-income countries,NaN,2003,0.272380,4.015419,3.108379,0.415742,0.099206,NaN,NaN
3344,Lower-middle-income countries,NaN,2004,0.272476,4.027881,3.118795,0.415912,0.100326,NaN,NaN
3345,Lower-middle-income countries,NaN,2005,0.272512,4.030484,3.128617,0.416151,0.101534,NaN,NaN
3346,Lower-middle-income countries,NaN,2006,0.272477,3.988462,3.149849,0.416376,0.102839,NaN,NaN
3347,Lower-middle-income countries,NaN,2007,0.272411,3.894302,3.188230,0.416527,0.104491,NaN,NaN
3348,Lower-middle-income countries,NaN,2008,0.272347,3.781813,3.232848,0.416671,0.106261,NaN,NaN

In [ ]:
# Reset display options to default
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

In [ ]:
regions = df_master[df_master['code'].isnull()]
regions

In [65]:
df_master.dropna(subset='code', inplace = True)

In [66]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6150 entries, 0 to 6419
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              6150 non-null   object
 1   code                 6150 non-null   object
 2   year                 6150 non-null   int64
 3   pct_schizophrenia    6150 non-null   float64
 4   pct_depression       6150 non-null   float64
 5   pct_anxiety          6150 non-null   float64
 6   pct_bipolar          6150 non-null   float64
 7   pct_eating_disorder  6150 non-null   float64
 8   avh                  1785 non-null   float64
 9   population           6000 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 528.5+ KB

In [21]:
import csv

delimiters = [',', ';', '\t']  # Add other delimiters as needed

for delimiter in delimiters:
    try:
        with open('/Users/jamie/neuefische/MindScape/data/API_SP.POP.TOTL_DS2_en_csv_v2_85.csv', 'r', encoding='utf-8') as file:
            csv_reader = csv.reader(file, delimiter=delimiter)
            rows = list(csv_reader) 
        print(f"Delimiter '{delimiter}' works!") 
        break
    except Exception as e:
        print(f"Delimiter '{delimiter}' doesn't work: {e}")

Delimiter ',' works!

In [69]:
from sql_functions import get_engine, get_sql_config, get_api, get_dataframe, push_to_sql
sql_config = get_sql_config() 

# sql_query = f'select * from {schema}.flights limit 5;'

In [70]:
schema = 'cgn_analytics_24_1'
engine = get_engine()
table_name = 'mindscape_mhealth_vs_whours'

push_to_sql(df_master, table_name, engine, schema)

'The mindscape_mhealth_vs_whours table was imported successfully.'